* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  text-decoration-thickness: none;
  box-sizing: border-box;
}
body {
  background-color: white;
}

.container {
  width: 80%;
  background-color: white;
  margin: auto;
}

.navbar {
  padding: 20px 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu ul {
  list-style-type: none;
  display: flex;
}
.menu ul li a {
  margin: 20px;
  text-decoration: none;
  color: #687279;
}
h3 {
  display: contents;
  color: #f1a204;
}
h2 {
  display: contents;
  color: #0c048c;
}
.pesat a {
  background-color: #f1a204;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  justify-content: center;
  color: white;
}

.pesat a.putih {
  color: white;
}

.pesat a:hover {
  background-color: #0c048c;
  color: white;
}
.aku {
  background-color: white;
  padding: 10px;
  display: flex;
  justify-content: center;
}
.my {
  border-color: #0c048c;
  border:1px solid #0C048C;
  cursor: pointer;
  border-radius: 5px;
  color: white;
  margin: 10px;
  padding: 10px;
 
}
.menu .hai .aku{
  color: #f1a204;
  text-align: center;
  
} 
/* hero */
.you {
  background-color: #f1a204;
  color: white;
  border-radius: 5px;
  padding: 2px;
  margin: 10px;
  padding-top: 2px;
  text-align: center;
  cursor: pointer;
}
.program{
  display: flex;
  text-decoration: none;
  margin-bottom: 10px;
}

.saya {
  text-align: left;
  border-radius: 5px;
  border-color: #0c048c;
  color: white;
}
.hero {
  display: flex;

  
  /* background-color: #0C048C; */
}

.kata {
  color: #0c048c;
  text-decoration: none;
}
.classfoto img {
  width: 95%;
  height: auto;
}
.picture {
  display: flex;
  gap: 20px;
  text-decoration: none;
  align-items: center;
  /* margin-top: 20px; */
  /* background-color: aqua; */
}
.picture .besar img {
  height: auto;
  width: 200px;
}

.classtext .my a {
  display: flex;
  gap: 20px;
  font-size: 20px;
}
.picture .kecil img {
  font-size: 50px;
  text-decoration: none;
  color: #0c048c;
}
.classtext .teks {
  font-size: 20px;
}
.besar {
  font-size: 50px;
  justify-content: center;
  padding: 35px;
}

.picture .besar {
  text-decoration: none;
}
.fa-solid fa-circle-check {
  color: #0c048c;
}
.classtext div {
  padding: 10px;
  
}

/* tabel */

p {
  background-color: white;
  color: black;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.5;
  
  margin: 50px 0px 0px 0px;
  padding: 10px;
  border-radius: 20px 0px 20px 0px;
}

.it {
  margin-top: 100px;
  text-align: center;
  margin-bottom: 30px;
}

.Jurusan {
  background-color: white;
  margin: 10px;
  padding: 20px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
}

.judul {
  text-align: center;
  background-color: rgb(255, 183, 2);
  border-radius: 5px;
  color: white;
  margin: 10px;
}
.Tkj .judul {
  padding: 10px;
}
.Dkv .judul {
  padding: 10px;
}
.Rpl .judul {
  padding: 10px;
}
.Download {
  text-align: center;
  border-radius: 5px;
  background-color: rgb(6, 6, 125);
  color: white;
  margin: 10px;
 cursor: pointer;
}
.Tkj .Download {
  padding: 10px;
}

.Dkv .Down {
  padding: 10px;
}
.Rpl .load {
  padding: 10px;
}

.Down {
  text-align: center;
  border-radius: 5px;
  background-color: rgb(6, 6, 125);
  color: white;
  margin: 5px;
  cursor: pointer;
}
.load {
  text-align: center;
  border-radius: 5px;
  background-color: rgb(6, 6, 125);
  color: white;
  margin: 5px;
  cursor: pointer;
}
h1 {
  color: rgb(6, 6, 125);
  margin-top: 100px;
}
h5 {
  color: rgb(6, 6, 125);
  text-align: center;
}

.Jurusan .Tkj {
  background-color: aliceblue;
  margin: 15px;
  padding: 15px;
  border-radius: 10px;
}
.Jurusan .Dkv {
  background-color: aliceblue;
  margin: 15px;
  padding: 15px;
  border-radius: 10px;
}
.Jurusan .Rpl {
  background-color: aliceblue;
  margin: 15px;
  padding: 15px;
  border-radius: 10px;
}
li {
  padding-left: 10px;
}
.Jurusan ul{
  margin-bottom: 20px;
}

/* Gallery CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins, sans-serif;
}

body {
  background-color: white;
  padding: 40px;
}

.container_gallery2 {
  max-width: 1200px;
  margin: auto;
  background-color: white;
  padding: 20px;
}

.title {
  text-align: center;
  margin-bottom: 40px;
  font-size: 28px;
  font-weight: 30px;
}
.gallery {
  text-align: center;
  margin-bottom: 30px;
}
.btn {
  border: 1px solid #ccc;
  background: none;
  color: #000;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn.active,
.btn:hover {
  background-color: #f1a204;
  color: white;
  border-color: #f1a204;
}
.foto {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.gambar {
  width: 30%;
  overflow: hidden;
  border-radius: 12px;
  transform: scale(1);
  transition: all 0.5s ease;
}
.gambar img {
  width: 100%;
  height: 100%;
}
.gambar:hover {
  transform: scale(1.1);
}

/* responsive */
/* Hide element if the viewport width is 600px or less */
@media screen and (max-width: 430px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
  }
  .menu ul {
    flex-direction: column;
    padding: 0;
  }
  .hero {
    flex-direction: column;
    text-align: center;
    width: 95%;
  }
  
/* alasan */
}
.portofoliovideo div{
  padding: 5px;
}
.portofoliovideo iframe{
  border-radius: 10px;
  
  
} 

/* .portofolio1{
    display:flex
} */
 @media screen and (max-width: 600px) {
  .container_alasan {
    width: 95%;
    flex-direction: column;
  }
  .colvocational{
    flex-direction: column;

  }
}
.portofoliotkj {
  display: flex;
  
}
.portofoliodkv{
 margin-left: 50px;
}

.tkj-kata h1{
  padding: 30px;
}
.tkj-kata ul{
  margin-left: px;
  padding: 10px;
}
.tkj-kata div{
  padding: 5px;
}
.tkj-kata .karya{
  margin: 10px;
}
.tkj-kata{
  margin-right: 50px;
}
.katatkj {
  text-align: center;
  margin-bottom: 100px;
}
/* .portofoliodkv {
  display: flex;
} */
.dkv {
  display: flex;
}
.portofoliodkv {
  margin-top: 50px;
  display: flex;
}
.dkv-kata {
  align-items: center;
  margin-left: 50px;
  
}
.dkv-kata h1{
  padding: 30px;
}
.dkv-kata ul{
  margin-left: 10px;
  padding-top:15px;
}

.dkv-kata div{
padding: 5px;
}
 .lihat {
  background-color: #0c048c;
  color: white;
  margin:px;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

.tkj-kata .lihat{
  padding: 15px;
  margin: px;
  width:70%;
}
.rpl-kata .lihat{
  padding: 15px;
  width: 90%;
}
.rpl-kata div{
  padding: 10px;
}
.dkv-kata .lihat{
width: 70%;
padding: 15px;
margin: 10px;
}
  

.colvocational {
  background-color: #f2f5f7;
  border: white;
  border-radius: 10px;
  margin-right: 30px;
  margin-left: 100px;
  padding: 10px;
  
}
/* .colvocational:hover{
  opacity: 1;
} */
.row {
  display: flex;
}
.colprofesional {
  background-color: #fceeea;
  border-radius: 10px;
  padding: 20px;
  
}
.colreligius {
  background-color: #f2f5f7;
  border-radius: 10px;
  margin-left: 30px;
  padding: 20px;
}
.container_alasan{
  padding-left: 50px;
}
p {
  color: #0c048c;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 40px;
  font-size: 15px;
}
h4 {
  color: black;
}
.you a {
  color: white;
}
.my a {
  color: #0c048c;
}
.Tkj div {
  padding: 5px;
}
.Dkv div {
  padding: 5px;
}
.Rpl div {
  padding: 5px;
}
.teks {
  margin: 10px;
}
.vocational{
  padding-bottom: 30px;
}
.urutan div{
  padding:5px ;
  justify-content: center;
  
}
.religius{
  align-items: center;
  padding-top: 10px; 
 
  
}

.karya{
  color: #0C048C;
}
.rowporto{
  box-sizing: border-box;
}
 .colporto img{
  width: 250px;
  height: auto;
  box-sizing: border-box;
  align-items: center;
} 
.colporto div{
padding: 10px;
 margin: 0px;
 
 font-size: small;
  
}


.colporto .test1{
  padding-bottom:45px ;
} */
.colporto .tes2 {
  padding: px;
}
.colporto img{
  padding-bottom: px;
}
.tes2 h2{
  padding-top: 0px;
}


.row{
  margin: px;
  
}
.colporto .tes5{
  padding-top: 10px;
}
.tes{
  padding-bottom: px;
}
.colporto .tes1 {
  padding: 20px;
}
 
 .rowporto .colporto{
  margin: 10px;
  justify-content: center;
 
 }
 .rowporto{
  padding-top:80px;
  padding-bottom: 80px;
  margin-left: 200px;
  display: flex;
 }
 .tes3 h2 {
  font-size: 18px;
  margin: px;
 
 }
 .test4 {
  margin-top: 10px;
 }
 

 .portofoliofoto img{
  width: 900px;
 }
 .colporto .tes4{
  padding: 14px;
 }
 
 .portofoliorpl{
  display: flex;
  margin-left: 10%;
 }
 .portorpl{
  display: flex;
 }
 .kolom img{
  width: 90%;
 }
 .kolom div{
  /* font-size: ; */
  margin: 10px;
 }
 .kolom{
  background-color: #000;
 }
 
 .div{
  text-decoration: none;
 }
 /* sertifikasi */
 .colsertifikasi img{
  width:90% ;
  margin-right: 50px;

 }
.rowsertifikasi{
  display: flex;
 }
 .colsertifikasi div{
  padding: 5px;
 

 }
 .tes2{
  padding-bottom: 30px;
 }
 ul {
  margin-bottom: 50px;
  margin-top: 30px;
 }
 .rowsertifikasi{
  margin-left: 60px;
 }
 .containerportofolio2{
  padding-top: 50px;
 }
 span .tes2 h2{
  padding: 0px;
 }


 /* daftar */
 .coldaftar1{
  background-color: #f1a204;
  width:70%;
  height:auto;
  border-radius: 25px;
  color: white;
  align-items: center;
  padding-top: 100px;
 }
 .tulis{
  align-items: center;
 }
 .coldaftar img{
  width: 80%;
 }
 .rowdaftar{
  display: flex;
  margin:10px;
  padding: 50px;
  align-items: center;
 }
 .coldaftar1 span{
  margin: px;
  font-size: large;
 }
 .coldaftar1 div {
  padding: 10px;
  margin: 12px;
 }
 .satu div{
  background: #111518;
  border-radius: 5px;
  width: 70%;
  text-align: center;
  cursor: pointer;
  margin-bottom: 60px;
 }
 .tulis {
  text-align: center;
  color: #0C048C;
  padding-top: 30px;
  font-size: 16px;
  padding-bottom: 30px;
 }
 .dua{
  text-align: center;
  padding-top: 30px;
  color: #0C048C;
 }
 .coldaftar2 iframe{
  border-radius: 20px;
 }
.coldaftar2{
  margin-right: 50px;
  margin-left: 20px;
}
.tiga{
  color: #0C048C;
  text-align: center;
  padding-bottom: 20px;
}
 /* footer */
 footer{
  background-color: grey;
  ;
  padding: 10px;
width: 100%;
  
 }